/__pycache__

/finetuning/__pycache__
/finetuning/lightning_logs
/finetuning/wandb
/finetuning/logs
/finetuning/outputs
/finetuning/model_zoo

/pretraining/__pycache__
/pretraining/lightning_logs
/pretraining/wandb
/pretraining/logs
/pretraining/outputs
/pretraining/model_zoo

/data

/notebooks/lightning_logs
/notebooks/data